<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aka.wecounsel"
    android:versionCode="3"
    android:versionName="1.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/wecounsel"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splash"
            android:label="We Counsel"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SubActivity"
            android:label="@string/title_activity_sub"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SelectionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".RankPredictor"
            android:label="@string/title_activity_rank_predictor"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SubActivity_2"
            android:label="@string/title_activity_sub_activity_2" >
        </activity>

        <activity
            android:name=".GoogleForm"
            android:label="@string/title_activity_google_form"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
